@charset "UTF-8";
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  margin: 0px;
  overflow-y: auto;
  border-top: 0.5px solid #e6e6e6;
}

repeat {
  display: block;
}

repeat[n="1"]:before {
  content: "★";
}

repeat[n="2"]:before {
  content: "★★";
}

repeat[n="3"]:before {
  content: "★★★";
}

repeat[n="4"]:before {
  content: "★★★★";
}

repeat[n="5"]:before {
  content: "★★★★★";
}

section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.section-part {
  display: flex;
  flex: 1;
}
.section-part .section-title {
  border-top: 0.05rem solid #ccc;
  border-bottom: 0.05rem solid #ccc;
  width: fit-content;
  align-self: center;
  padding: 1rem;
  margin: 0rem 0rem 2.5rem 0rem;
  font-size: 2.5rem;
}

#intro {
  min-height: 100%;
  background-size: cover;
  flex-direction: column;
  background-image: url("banner.jpg");
  color: white;
}
#intro .it-badge {
  align-self: center;
  height: 7rem;
  width: 7rem;
  font-size: 2.5rem;
  font-weight: 500;
  border-radius: 3.5rem;
  border: 0.5rem solid white;
}
#intro .wishes-font {
  font-size: 4rem;
  font-weight: 400;
  align-self: center;
}
#intro .description-font {
  width: 70%;
  align-self: center;
  font-size: 1.75rem;
  text-align: center;
}

#about {
  padding: 4rem 3rem;
}
#about .section-title-about {
  color: #555555;
}
#about .detail-container {
  display: flex;
  flex: 1;
}
#about .detail-container .detail {
  display: flex;
  flex: 1;
  padding: 2rem;
  flex-direction: column;
  font-size: 16px;
  color: #555555;
}
#about .detail-container .skills {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#about .profile-pic {
  height: 25rem;
  width: 25rem;
  align-self: center;
  border-radius: 12.5rem;
  background-size: cover;
  background-image: url("rashi.jpg");
}

#work {
  display: flex;
  flex: 1;
  padding: 2.5rem 7rem;
}
#work .technologies {
  flex: 1;
}

button {
  border: 1px solid white;
  color: white;
  font-size: 1.25rem;
  background-color: transparent;
  width: 125px;
  height: 45px;
  border-radius: 2px;
}

#services {
  min-height: 100%;
  padding: 0rem 7rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #4fbfa8, #74cdba) !important;
}
#services .section-title-services {
  border-top: 0.05rem solid #fff;
  border-bottom: 0.05rem solid #fff;
}
#services .details-cards-container {
  border-bottom: 0.05rem solid white;
  display: flex;
}
#services .details-cards-container .detail-card {
  display: flex;
  padding: 1rem;
  font-size: 14px;
  text-align: justify;
  align-items: center;
  flex: 1;
  flex-direction: column;
}
#services .details-cards-container .detail-card .img {
  padding: 0.5rem 0rem;
}
#services .details-cards-container .detail-card .title {
  font-size: 2rem;
  padding: 0.5rem 0rem;
  font-weight: 500;
}
#services .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
#services .contact .question {
  margin-bottom: 1.5rem;
}

#client {
  padding: 2.5rem 7rem;
  min-height: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex: 1;
  flex-direction: column;
}
#client .detail {
  font-size: 1.25rem;
  padding: 0rem 10rem;
  text-align: center;
  color: #555555;
}
#client .client-card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#client .client-card-container .client-card {
  padding: 0rem 1rem;
  display: flex;
  flex: 1;
}
#client .client-card-container .client-card .inner-container {
  background-color: white;
  flex-direction: column;
  display: flex;
  flex: 1;
  padding: 0.5rem;
  justify-content: space-between;
}
#client .client-card-container .client-card .inner-container .client-name {
  font-size: 0.75rem;
  color: #555555;
}
#client .client-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact {
  display: flex;
  min-height: 50%;
  font-size: 1.5rem;
  text-align: justify;
  padding: 0rem 2rem;
  align-items: center;
  color: white;
  font-weight: 100;
  flex-direction: column;
  background-color: #232436;
}
#contact .email {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

footer {
  min-height: 20%;
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  background-color: #232436;
  padding: 0rem 4rem;
}
footer .inner-container {
  border-top: 0.5px solid rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
}

.flex-evenly-center {
  display: flex;
  justify-content: space-evenly;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  align-self: center;
  border-top: 4px solid transparent;
  color: #4fbfab;
  margin-block-end: unset;
  margin-inline-end: unset;
  margin-block-start: unset;
}
header {
  z-index: 999;
}
@media (min-width: 992px) {
  main {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 99%;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
    padding: 0rem 3rem;
    height: 70px;
  }
  header .right-section {
    margin-left: auto;
    display: flex;
  }
  header .right-section div {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
    border-top: 4px solid transparent;
    color: #777;
    cursor: pointer;
    padding: 0px 20px;
  }
  header .right-section div:hover {
    color: #000;
    border-top: 4px solid #4fbfab;
  }
  header .bar-icon {
    border: 1px solid red;
    display: none;
  }
}
@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    height: 70px;
  }
  header .right-section {
    display: none;
  }
  header .bar-icon {
    display: inline-block;
    align-self: center;
  }
}
.progress-title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin: 0 0 10px 0;
}

.progress {
  height: 20px;
  width: 50%;
  display: flex;
  line-height: 15px;
  border-radius: 20px;
  background: #232436;
  margin-bottom: 20px;
  box-shadow: none;
  overflow: visible;
}

.progress-bar-danger {
  background-color: #4fbfab;
}

.progress .progress-bar {
  position: relative;
  display: flex;
  border-radius: 20px 0 0 20px;
  animation: animate-positive 2s;
}

.progress .progress-value {
  display: block;
  font-size: 13px;
  color: #000;
  position: absolute;
  top: 15;
  align-self: center;
  right: 8px;
}

@keyframes animate-positive {
  0% {
    width: 0%;
  }
}

/*# sourceMappingURL=style.css.map */
